body {
	background: #cccccc url('../images/banner.jpg') no-repeat center;
	background-attachment:fixed;
}

#dropArea {
  height: 200px;
  width: 100%;
  border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
  background-color: #ccc;
  text-align: center;
  padding: 30px 0;
}

#canvas {
  width: 100%;
  height: 200px;
}

.navbar {
	background-color: #FFAE73;
	border-color: #FFAE73;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	color: #000000;
}

.content {
	min-height: 450px;;
}

#button-container {
  width: 360px;
}

#upload, #record, #next-button {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#viz {
  height: 80%;
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-around;
  align-items: center;
}

.disabled {
  color: #888;
  cursor: default !important;
}

/* LOGIN / CREATE ACCOUNT FORM */

.form-signin,
#upload-form {
	width: 50%;
	margin: auto;
	padding: 10px 30px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	opacity: 0.85;
	-webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	transition: opacity 1s;
}

.form-signin:hover {
	opacity: 1;
}

.form-signin .btn-container {
	margin-top: 10px;
}

#login,
#create-an-account {
	display: none;
}

#already-have-account:hover,
#create-an-account:hover {
	cursor: pointer;
}

/* PROFILE PAGE */

#profile {
	background-color: #fff;
	width: 80%;
	margin: auto;
	padding: 20px;
	opacity: 0.98;
}

#dashboard-wrapper {
	height: 100%;
}

#dashboard .sound-byte {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	margin: 20px;
	padding: 15px;
}

#dashboard .sound-byte:hover {
	-webkit-box-shadow: 0 0 5px 0 #bbb;
    -moz-box-shadow: 0 0 5px 0 #bbb;
    box-shadow: 0 0 5px 0 #bbb;
}

#dashboard .sound-byte i {
	margin: auto;
}

#dashboard .sound-byte .glyphicon-play {
	font-size: 50px;
}

#dashboard .sound-byte .glyphicon-play:hover {
	font-size: 50px;
}

#dashboard .sound-byte a {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

#dashboard .sound-byte .play-btn {
	margin: 10px auto;
	width: 50%;
	color: #5B4CD8;
}

#dashboard .sound-byte .play-btn:hover {
	opacity: 0.8;
	cursor: pointer;
	color: #130873;
}

#dashboard .sound-byte .share {
	font-size: 20px;
	margin: auto;
	width: 50%;
}

#playback-panel {
	background-color: #1E776D;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #FFAE73;
}

#playback-panel audio {
	width: 100%;
}

#playback-panel .clip-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#playback-panel .clip-created {
	font-style: italic;
}

#playback-panel .clip-desc {
	text-align: center;
}
