body {
	background: #cccccc url('../images/banner.jpg') no-repeat center;
	background-attachment:fixed;
}

#dropArea {
  height: 100px;
  width: 100px;
  border: 1px solid #888;
}

.content {
	min-height: 450px;;
}

/* LOGIN / CREATE ACCOUNT FORM */

.form-signin {
	width: 50%;
	margin: auto;
	padding: 10px 30px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	opacity: 0.85;
	-webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	transition: opacity 1s;
}

.form-signin:hover {
	opacity: 1;
}

.form-signin .btn-container {
	margin-top: 10px;
}

#login,
#createAnAccount {
	display: none;
}

#alreadyHaveAccount:hover,
#createAnAccount:hover {
	cursor: pointer;
}

/* PROFILE PAGE */

#profile {
	background-color: #fff;
	width: 80%;
	margin: auto;
	padding: 20px;
	opacity: 0.98;
}

#dashboard-wrapper {
	height: 100%;
}

#dashboard .sound-byte {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	margin: 20px;
	padding: 20px;	
}

#dashboard .sound-byte:hover {
	-webkit-box-shadow: 0 0 5px 0 #bbb;
    -moz-box-shadow: 0 0 5px 0 #bbb;
    box-shadow: 0 0 5px 0 #bbb;
}

#dashboard .sound-byte i {
	margin: auto;
}

#dashboard .sound-byte .glyphicon-play {
	font-size: 50px;
}

#dashboard .sound-byte .glyphicon-play:hover {
	font-size: 50px;
}

#dashboard .sound-byte p {
	text-align: center;
}

#dashboard .sound-byte .share {
	font-size: 20px;
}

#playback-panel {
	background-color: #1E776D;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#playback-panel audio {
	width: 100%;
}