<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>SuperApp{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">YeaSoundsGood</a>
        <div class="nav-collapse">
          {% block navbar_right %}
          <ul class="nav navbar-nav pull-right">
            <li><a href="/about">About</a></li>
            {% if not session.email %}
              <li><a href="/">Login or Signup</a></li>
            {% else %}
              <li><a href="/profile">Profile</a></li>
              <li><a href="/upload">Upload</a></li>
              <li><a href="/">Logout</a></li>
              <li><a>Welcome {{ session.email }}!</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}

    <div class="container">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; YeaSoundsGood</p>
        </footer>
        {% endblock %}
    </div>

    {% block js_footer %}
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}

    {% block js %}
    {% endblock %}

  </body>
</html>
