{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not session.email %}
     <form action="/profile" method="POST" class="form-signin" role="form">
      <h2>Add your voice to the community!</h2>
      <div>
          <input type="text" name="email" class="form-control" placeholder="Email Address" required="" autofocus=""/>
      </div>
      <div class="btn-container">
          <button class="btn btn-lg btn-primary btn-block create-account" type="submit" name="submit" value="Create">Create</button>
      </div>

      <div id="login">
        <input type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
	      <input type="checkbox" value="remember-me"> Remember me
	    </label>
        <button class="btn btn-lg btn-primary btn-block login" type="submit" name="submit" value="Login">Login</button>
  	  </div>

      <a id="alreadyHaveAccount">Already have an account?</a>
      <a id="createAnAccount">Create an account</a>
     </form>
{% else %}
     <p>You are logged in.</p>
     <form action="/profile" method="POST">
          <input type="submit" name="submit" value="Logout"/>
     </form>
{% endif %}
{% endblock %}
