{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

<div id="profile">

	<h1>Sound Dashboard</h1>

	<div id="dashboard-wrapper">
		<div id="dashboard" class="row">

			{% for sound in sounds %}
				<div class="col-md-3">
					<div class="sound-byte">
						<a href="/sound?file_name={{ sound.file_name }}">{{ sound.file_name }}</a>
						<div class="play-btn">
							<i class="glyphicon glyphicon-play" 
								data-name="{{sound.file_name}}" data-desc="{{sound.description}}" 
								data-type="{{sound.file_type}}" data-created="{{sound.created}}"></i>
						</div>
						<div class="share">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-twitter"></i>
						</div>
					</div>
				</div>
  			{%  endfor %}
			
		</div>

	</div>

	<div id="playback-panel">
	</div>
</div>

{% endblock %}
