{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<p>Your sound file is {{ sound.file_name }}</p>
<p><a href="/soundfile/{{ sound.file_name }}">Sound Link</a></p>
<p>File Type: {{ sound.file_type }}</p>
<p>Description: {{ sound.description }}</p>
<p>Creator: {{ sound.user.email }}</p>
<p>Created: {{ sound.created }}</p>
<p>Filters:</p>
<form action="/sound" method="POST">
    <input type="hidden" name="file_name" value="{{ sound.file_name }}"/>
    <input type="submit" value="Filter"/>
</form>
{% endblock %}
