{% extends "base.html" %}
{% block title %} - Upload{% endblock %}
{% block content %}
  <div id="upload-form">
    <h2>Upload your file</h2>

    <div id="dropArea" style="display: none">
      <h3>drag and drop your file here to preview</h3>
    </div>

    <div id="button-container" class="center-block">
      <button id="upload" type="button" class="btn btn-primary btn-lg" style="margin-right: 50px;">Upload</button>

      <button id="record" type="button" class="btn btn-primary btn-lg">Record</button>
    </div>

    <br/><div id="canvas-container" class="hide"><canvas id="canvas"></canvas></div>

    <br/>
      <div id="record-container" style="display: none">
        <div id="viz">
          <canvas id="analyser" width="500" height="200"></canvas>
{#          <canvas id="wavedisplay" width="500" height="200"></canvas>#}
        </div>

        <i class="fa fa-microphone" style="font-size: 50px; padding: 20px 10px; color: #428bca;"></i>
        <i id="record-start" class="glyphicon glyphicon-record" style="font-size: 30px; padding: 20px 10px; cursor: pointer;"></i>
        <i id="record-stop" class="glyphicon glyphicon-stop disabled" style="font-size: 30px; padding: 20px 10px; cursor: pointer;"></i>
      </div>
    </div>

    <a id="next" href="" class="hide"><button id="next-button" type="button" class="btn btn-success btn-lg center-block">NEXT</button></a>
  </div>


{% endblock content %}


{% block js %}
  {# Record audio from http://webaudiodemos.appspot.com/ #}
  <script src="http://webaudiodemos.appspot.com/AudioRecorder/js/audiodisplay.js"></script>
  <script src="http://webaudiodemos.appspot.com/AudioRecorder/js/recorderjs/recorder.js"></script>
  <script src="http://webaudiodemos.appspot.com/AudioRecorder/js/main.js"></script>

  <script type="text/javascript">
    {# Drag and drop upload code from: http://jsfiddle.net/gaJyT/18/ #}
    var dropArea = $('#dropArea');
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    const CANVAS_HEIGHT = canvas.height;
    const CANVAS_WIDTH = canvas.width;
    const SPACER_WIDTH = 1;
    const COL_WIDTH = 3;

    var context = new (window.AudioContext || window.webkitAudioContext)();
    var source;
    var processor;
    var analyser;
    var xhr;

    var recordStart = $("#record-start");
    var recordStop = $("#record-stop");

    $('#upload').click(function() {
      dropArea.toggle();
      $("#record-container").hide();
    });

    $("#record").click(function() {
      $("#record-container").toggle();
    });

    recordStart.click(function() {
      recordStart.toggleClass("disabled");
      recordStop.toggleClass("disabled");
    });

    recordStop.click(function() {
      recordStart.toggleClass("disabled");
      recordStop.toggleClass("disabled");
    });

    function initAudio(data) {
        source = context.createBufferSource();

        if(context.decodeAudioData) {
            context.decodeAudioData(data, function(buffer) {
                source.buffer = buffer;
                createAudio();
            }, function(e) {
                console.log(e);
            });
        } else {
            source.buffer = context.createBuffer(data, false /*mixToMono*/);
            createAudio();
           }


    }

    function createAudio() {
        processor = context.createJavaScriptNode(2048 /*bufferSize*/, 1 /*num inputs*/, 1 /*num outputs*/);
        processor.onaudioprocess = processAudio;

        analyser = context.createAnalyser();

        source.connect(context.destination);
        source.connect(analyser);

        analyser.connect(processor);
        processor.connect(context.destination);

        source.noteOn(0);
        setTimeout(disconnect, source.buffer.duration * 1000 +1000);
    }

    function disconnect() {
        source.noteOff(0);
        source.disconnect(0);
        processor.disconnect(0);
        analyser.disconnect(0);
    }

    function processAudio(e) {
        var freqByteData = new Uint8Array(analyser.frequencyBinCount);

        analyser.getByteFrequencyData(freqByteData);

        ctx.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);

        var colors = [
            '#3369E8', // blue
            '#D53225', // red
            '#EEB211', // yellow
            '#009939' // green
          ];

        for (var i = 0; i < freqByteData.length; ++i) {

            var magnitude = freqByteData[i];
            var lingrad = ctx.createLinearGradient(0, CANVAS_HEIGHT, 0, CANVAS_HEIGHT - magnitude);

            lingrad.addColorStop(0, colors[i % colors.length]);
            lingrad.addColorStop(1, colors[i % colors.length]);
            ctx.fillStyle = lingrad;

            ctx.fillRect(i * SPACER_WIDTH, CANVAS_HEIGHT, COL_WIDTH, -magnitude);
          }
    }

    function handleResult(request) {
      console.log("done!")
        if (xhr.readyState == 4 /* complete */) {
            switch(xhr.status) {
                case 200: /* Success */
                    initAudio(request.response);
                    break;
                default:
                    break;
            }
            xhr = null;
        }
    }

    function dropEvent(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        dropArea.css("background-color", "#f0ad4e");
        $("#canvas-container").removeClass("hide");

        var droppedFiles = evt.originalEvent.dataTransfer.files;
        var formData = new FormData();
        formData.append("file", droppedFiles[0]);

        xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload");
        xhr.onreadystatechange = function(e) {
          var nextLink = $('#next');
          next.href = e.target.responseText;
          nextLink.removeClass("hide");
        };
        xhr.send(formData);

        var reader = new FileReader();

        reader.onload = function(fileEvent) {
            var data = fileEvent.target.result;
            initAudio(data);
        };

        reader.readAsArrayBuffer(droppedFiles[0]);
    }

    function dragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        dropArea.css("background-color", "#5bc0de");
        return false;
    }

    dropArea.on('drop', dropEvent);
    dropArea.on('dragover', dragOver);
  </script>
{% endblock %}
